body {
    font-family: Arial, sans-serif;
    background-color: #c95454;
    margin: 0;
    padding: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#cabecera {
    background-color: darkcyan;
    color: #ccc;
    font-weight: bolder;
    padding: 0.5em
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;

}

input[type="submit"]:hover {
    background-color: #45a049;
}

#footer {

    background-color: #777;
    color: white;
    text-align: center;
    padding: 1em;
}

#cabecera #autotesla {
    width: 50%;
    height: auto;
    vertical-align: middle;
}

#like {
    background-color: bisque;
    color: #d11a1a;
    font-weight: bolder;
    padding: 0.5em;
    text-align: center;
}